   {{ define "Count" }}
         {{ template "Header" }}
            <h2>Usuários cadastrados

            <body>
                <div class = "container">

                <p>{{.Id}}</p>

               </div>
            </body>
         {{template "Footer"}}
 {{ end }}