{{ define "Edit" }}
{{ template "Header" }}
{{ template "Menu" }}
    <h2>Edit name and email</h2>

<form method="POST" action="update">
    <input type="hidden" name="id" value="{{.Id}}" />
    <label>Name</label><input type="text" name="name" value-"{{.Name}} /><br/>
    <label>Email</label><input type="text" name="email" value="{{.Email}}" />
    <label>Salary</label><input type="number" name="salary" value="{{.Salary}}" />
    <input type="submit" value="Save user" />
        </form>
    <a href="/deleteId?={{.Id}}">Delete</a>
{{ template "Footer" }}
{{ end }}

