    {{ define "Index" }}
       {{ template "Header" }}
          {{ template "Menu" }}

<h2>Usuários cadastrados </h2>


<div>
    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                 <td>Salary</td>

               <td>Action</td>
            </tr>
        </thead>

        <tbody>
        <td>


            <tr key="index">

                <td>{{ printf "%#v" .}}</td>
                <td>{{ index .employee 0 }}</td>
                <td>{{ . }}</td>
                <td>{{ . }}</td>



                <td> <a href="/show?id={{.}}">Vizualizar</a> | <a href="/edit?id={{.}}">Editar</a> </td>
            </tr>

        </tbody>
    </table>
    </div>
    <br/>
 {{ end }}
    <a href="/csv"  download=go.csv> DOWNLOAD CSV </a>

 {{template "Footer"}}
