    {{ define "Index" }}
       {{ template "Header" }}
          {{ template "Menu" }}

<h2>Registered users: {{.Count}}</h2>


<div>
    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                 <td>Salary</td>
               <td>Action</td>
            </tr>
        </thead>

        <tbody>



            <tr key="index">

                {{range .Employees}}
                <td> {{ .Id }} </td>
                <td> {{ .Name }}</td>
                <td>{{ .Email }}</td>
                <td>{{ .Salary }}</td>

                <td>  <a href="/show?id={{.Id}}">View</a> | <a href="/edit?id={{.Id}}">Edit</a>  </td>

            </tr>

        </tbody>
        {{end}}
    </table>

    </div>
    <br/>

    <a href="/csv"  download=go.csv> DOWNLOAD CSV </a>
{{ end }}
 {{template "Footer"}}
