{{ define "New" }}
{{ template "Header" }}
{{ template "Menu" }}
    <h2>New Record</h2>

<form method="POST" action="insert">
    <label>Nome</label><input type="text" name="name" /><br/>
    <label>Email</label><input type="text" name="email" /><br/>
    <label>Salary</label><input type="number" name="salary" step="any" /><br/>
    <input type="submit" value="save user" /></br>
</form>
{{ template "Footer" }}
{{ end }}