{{ define "Show" }}
{{ template "Header" }}
{{ template "Menu" }}
    
    <h2>Records</h2>

                    <h2> Record {{ .Id }} </h2>
                        <p> Name: {{ .Name }} </p>
                        <p> Email: {{ .Email }} </p>
                        <p> Salary: {{ .Salary }} </p>
                        <br/><a href="edit?id={{ .Id }}">Edit</a></p><a href="/delete?id={{ .Id }}">Delete</a>

{{ template "Footer" }}
{{ end }}